<div class="container grid text-center">
  <div class="row align-items-start">
    <div class="col">
      <label for="customRange1" class="form-label">Valor de la pendiente m</label>
      <input [(ngModel)]="valorM" placeholder="X" (input)="updateChart()" type="range" class="form-range" min="0.00"
        max="100.00" step="0.01" id="customRange1">
      <p>Valor de la pendiente m: {{valorM}}</p>

      <br><br>
      <label for="customRange2" class="form-label">Valor de la interseccion b</label>
      <input [(ngModel)]="valorB" placeholder="Y" (input)="updateChart()" type="range" class="form-range" min="0.00"
        max="100.00" step="0.01" id="customRange2">
      <p>Valor de la interseccion b: {{valorB}}</p>

      <label for="button-addon2" class="form-label">Agregar Puntos</label>
      <div class="input-group mb-3">
        <input [(ngModel)]="newX" type="number" min=0 class="form-control" aria-describedby="button-addon2">
        <input [(ngModel)]="newY" type="number" min=0 class="form-control" aria-describedby="button-addon2">
        <button class="btn btn-outline-secondary" type="button" id="button-addon2"
          (click)="agregarPunto()">Agregar</button>
      </div>

      <label for="button-addon2" class="form-label">Tabla de Puntos</label>
      <table class="table table-bordered">
        <thead>
          <tr>
            <th scope="col">X</th>
            <th scope="col">Y</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let punto of points">
            <td>{{punto.x}}</td>
            <td>{{punto.y}}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col">
      <p-chart type="scatter" [data]="data" [options]="options"></p-chart>
      <br>
      <div class="container grid text-center border border-primary">

        <p>Suma de las X: {{sumX}}</p>
        <p>Suma de las Y: {{sumY}}</p>
        <p>Mean Squared Error (MSE): {{mse.toFixed(2)}}</p>
        <p>Root Mean Squared Error (RMSE): {{rmse.toFixed(2)}}</p>
        <p>Coeficiente de Determinación (R²): {{rSquared.toFixed(2)}}</p>
        <p>Error Absoluto Medio (MAE): {{mae.toFixed(2)}}</p>

      </div>
    </div>
  </div>
</div>